{% extends 'base.html.twig' %}

{% block body %}
	<div id="stats">
		<p>Total points : {{ aggs.totalPoints }}</p>
		<p>Total levels : {{ aggs.totalLevels }}</p>
	</div>
	<div id="filters">
		<p>Filtres :</p>
		<a class="champion-filter" data-filter="championPoints" href="#">Points</a>
		<a class="champion-filter" data-filter="championLevel" href="#">Level</a>
		<a class="champion-filter" data-filter="highestGrade" href="#">Plus haut grade</a>
		<a class="champion-filter" data-filter="chestGranted" href="#">Coffre acquis</a>
	</div>
	<div id="champion-container">
		{% for champion in champions %}
			{% set mastery = masteryList.getChampion(champion.key) %}
			<div class="champion" {{ block('data_attributes') }} >
				<img src="{{ asset('data/champion/' ~ champion.image.full) }}" alt="">
				{% if mastery is not null %}
					{{ mastery.championPoints }}
					{{ mastery.championLevel }}
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block data_attributes %}
	{% for key, default in {"championPoints" : 0, "championLevel" : 0, "championPointsSinceLastLevel" : 0, "championPointsUntilNextLevel" : 0, "chestGranted" : 0, "highestGrade" : 0} %}
		{% if mastery is null %}
			data-{{ key }}="{{ default }}"
		{% else %}
			{% if attribute(mastery, key) is defined %}
				data-{{ key }}="{{ attribute(mastery, key) }}"
			{% endif %}
		{% endif %}
	{% endfor %}
{% endblock %}